.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.chat-bar-collapsible{
  position : fixed;
  bottom : 0px;
  right : 50px;
  box-shadow : 0 8px 16px 0 rgba(0,0,0,0.2);
}

.collapsible{
  background-color: rgb(82 ,151 , 255);
  color : white;
  cursor : pointer;
  padding : 18px;
  width : 350px;
  text-align :left;
  outline : none;
  font-size : 18px;
  border-radius: 10px 10px 0px 0px;
  border : 3px solid white;
  border-bottom :none;
}

.content{
  overflow : hidden;
  transition : max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.full-chat-block{
  width : 350px;
  background : white;
  text-align : center;
  overflow : auto;
  scrollbar-width :none;
  height : max-content;
  transition: max-height 0.2s ease-out;
}

.outer-container{
  min-height : 500px;
  bottom : 0%;
  position : relative;
}

.chat-container{
  max-height : 500px;
  width : 100%;
  position : absolute;
  bottom :0;
  left : 0;
  scroll-behavior: smooth;
  hyphens: auto;
}

.chat-container::-webkit-scrollbar{
  display : none;
}

.chat-bar-input-block{
  float : left;
  box-sizing : border-box;
  width : 100%;
  align-items: center;
  background-color : rgb(235 , 235 , 235);
  border-radius : 10px 10px 0px 0px;
  padding : 10px 0px 10px 10px; 
}

.chat-bar-icons{
  box-sizing : border-box;
  width : 25%;
  float : right;
  font-size : 25px;
  padding-top : 8px;
}

#close{
  max-height : 0px;
}

#open{
  max-height : 500px;
}

.close-button{
  color: white;
  float : right;
  font-size : 25px;
}

#chat-icon:hover{
  opacity : .7;
}

/* chat bubbles */ 
#userInput{
  width : 80%;
}

.input-box{
  float : left;
  border : none;
  box-sizing : border-box;
  width : 75%;
  border-radius : 10px;
  padding : 10px;
  font-size : 16px;
  color : #000;
  background-color : white;
  outline : none;
  padding-right : 0px;
}

.userText{
  color : white;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 16px;
  font-weight : normal;
  text-align : right;
  clear : both;
}

.userText span{
  line-height : 1.5rem;
  display : inline-block;
  background : #5ca6fa;
  padding : 10px;
  border-radius : 8px;
  border-bottom-right-radius : 2px;
  max-width : 80%;
  margin-right : 10px;
}

.botText{
  color : #000;
  font-family: Helvetica;
  font-weight: normal;
  font-size : 16px;
  text-align : left; 
}

.botText span{
  line-height : 1.5rem;
  display : inline-block;
  background: #e0e0e0;
  padding :10px;
  border-radius : 8px;
  border-bottom-left-radius: 2px;
  max-width : 80%;
  margin-left : 10px;
  animation: floatup 0.5s fowards;
}

@keyframes floatup{
  from{
      transform : translateY(14px);
      opacity : .0;
  }
  to{
      transform : translateY(0px);
      opacity : -1;
  }
}

@media screen and ( max-width : 600px){
  .full-chat-block{
      width: 100%;
      border-radius : 0px;
  }

  .chat-bar-collapsible{
      position : fixed;
      bottom : 0;
      right : 0;
      width : 100%;
  }

  .collapsible{
      width : 100%;
      border : 0px;
      border-top : 3px solid white;
      border-radius : 0px;
  }
}